# for 문 중첩

In [1]:
for i in range(5):
    print("i:", i)
    for j in range(5):
        #print("j:", j)
        print("i*j:", i*j)
    print("-"*10)

i: 0
i*j: 0
i*j: 0
i*j: 0
i*j: 0
i*j: 0
----------
i: 1
i*j: 0
i*j: 1
i*j: 2
i*j: 3
i*j: 4
----------
i: 2
i*j: 0
i*j: 2
i*j: 4
i*j: 6
i*j: 8
----------
i: 3
i*j: 0
i*j: 3
i*j: 6
i*j: 9
i*j: 12
----------
i: 4
i*j: 0
i*j: 4
i*j: 8
i*j: 12
i*j: 16
----------

In [2]:
for i in range(5):
    for j in range(5):
        print("코드실행")   # 5 x 5 = 25 번 실행

코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행
코드실행

In [3]:
l1 = ['a', 'b', 'c', 'd']

for i in enumerate(l1):     
    print(i)               # 튜플 (index, value)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [4]:
a, b = (10, 20)
print(a)
print(b)

10
20

In [5]:
l1 = ['a', 'b', 'c', 'd']

for idx, val in enumerate(l1):     
    print(idx, val)

0 a
1 b
2 c
3 d

In [6]:
for idx, val in enumerate(l1):
    if idx >= 2:
        l1[idx] = 0
print(l1)

['a', 'b', 0, 0]

#### 연습문제2
(1)  x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요     
심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요
  
(2)  y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요      
심화 : 출력과 딕셔너리 y 의 값에도 모두 10을 더해주세요
  
(3) 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [47]:
x = [3, 6, 9, 20, -7, 5] 

for idx, val in enumerate(x):
    print(val*10)
    x[idx] = val*10
print(x)

30
60
90
200
-70
50
[30, 60, 90, 200, -70, 50]

In [44]:
y = {"math": 70, "science": 80, "english": 20}

for i in y:
    print(y[i]+10)
    y[i] = y[i]+10
print(y)

80
90
30
{'math': 80, 'science': 90, 'english': 30}

In [48]:
a = int(input("정수를 입력하세요:"))

for i in range(1,10):
    #print(a,"x",i,"=",a*i)
    print( "{} * {} = {}".format(a, i, a*i))

정수를 입력하세요:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

#### 연습문제3
(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요    
  
(2) 구구단을 1단부터 9단까지 출력하세요

In [56]:
word = ["school", "game", "piano", "science", "hotel", "mountian"] 
new = []

for i in word:
    if len(i) >= 6:
        print(i)
        new.append(i)
print(new)

school
science
mountian
['school', 'science', 'mountian']

In [58]:
new = [i for i in word if len(i) >= 6]
print(new)

['school', 'science', 'mountian']

In [61]:
## 리스트에서 6보다 짧은 단어 빼기

# 잘못된 코드
word = ["school", "game", "piano", "science", "hotel", "mountian"] 

for i, j in enumerate(word):
    if len(j) < 6:
        del word[i]
word

['school', 'piano', 'science', 'mountian']

In [62]:
## 리스트에서 6보다 짧은 단어 빼기

# 옳은 코드
word = ["school", "game", "piano", "science", "hotel", "mountian"] 
new = word.copy()

for i in word:
    if len(i) < 6:
        new.remove(i)
new

['school', 'science', 'mountian']

In [64]:
for i in range(1, 10):
    print("[%s단]" % i)
    for j in range(1, 10):
        print("{} x {} = {}".format(i, j, i*j))
    print("-"*10)

[1단]
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
----------
[2단]
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
[3단]
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
[4단]
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
[5단]
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
[6단]
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
[7단]
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
[8단]
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
[9단]
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

#### 연습문제4
1-100 까지 숫자중    
3과 5의 공배수일경우 “3과 5의 공배수”    
나머지 숫자중 3의배수일경우 “3의배수”    
나머지 숫자중 5의배수일경우 “5의배수”    
모두 해당되지 않을경우 그냥숫자를 출력하세요     

심화 : 1-입력한숫자까지의 숫자중

In [54]:
for i in range(1, 101):
    if i % 15 == 0:
        print("3과 5의 공배수")
    elif i % 3 == 0:
        print("3의 배수")
    elif i % 5 == 0:
        print("5의 배수")
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [55]:
a = int(input("정수를 입력하세요:"))

for i in range(1, a):
    if i % 15 == 0:
        print("3과 5의 공배수")
    elif i % 3 == 0:
        print("3의 배수")
    elif i % 5 == 0:
        print("5의 배수")
    else:
        print(i)

정수를 입력하세요:30
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29

# While 문

In [66]:
i = 0
while i < 5:
    print("i :", i)
    i = i + 1  
    # i += 1

i : 0
i : 1
i : 2
i : 3
i : 4

In [68]:
i = input("s가 입력되면 멈춥니다.")
while i.upper() != 'S':
    print("프로세스 동작 중")
    i = input("s가 입력되면 멈춥니다.")

s가 입력되면 멈춥니다.3
프로세스 동작 중
s가 입력되면 멈춥니다.5
프로세스 동작 중
s가 입력되면 멈춥니다.7
프로세스 동작 중
s가 입력되면 멈춥니다.s

#### 연습문제5
사용자로부터 숫자를 계속 입력받다가     
s or S 를 입력하면 합계출력

In [12]:
i = input("값을 입력해주세요 ")
result = 0

while i.upper() != 'S':
    result = result + int(i)
    i = input("값을 입력해주세요 ")
print("합계는?", result)

값을 입력해주세요 1
값을 입력해주세요 2
값을 입력해주세요 3
값을 입력해주세요 s
합계는? 6

#### 연습문제6 
(가위바위보 게임만들기)

In [13]:
import random

In [20]:
random.randint(1, 5)

5

In [23]:
a = random.randint(1, 5)
a

2

In [29]:
a = ["가위", "바위", "보"]
a[0]

'가위'

In [33]:
A = ["가위", "바위", "보"]

#### 딕셔너리로도 가능
# A = {1:"가위", 2:"바위", 3:"보"}

i = int(input("가위(1), 바위(2), 보(3) 를 입력해주세요  "))
j = random.randint(1,3)

a = 0  # 전체
b = 0  # 이김
c = 0  # 비김

while (i >= 1) and (i <= 3):                                ## while i in [1,2,3]:
    print("유저 : {}, 컴퓨터 : {}".format(A[i-1], A[j-1]))
    
#### 비긴 경우 / 이긴 경우/ 진 경우 => 분류해서 if 문 짜도 됨
    # if i == j:
    #    c += 1
    # elif 이긴 경우 다:
    #    b += 1 
    # a += 1
    
    if (i == 1) and (j == 2):
        a += 1
    elif (i == 1) and (j == 3):
        b += 1
        a += 1
    elif (i == 2) and (j == 1):
        b += 1
        a += 1
    elif (i == 2) and (j == 3):
        a += 1
    elif (i == 3) and (j == 1):
        a += 1
    elif (i == 3) and (j == 2):
        b += 1
        a += 1
    else:
        c += 1
        a += 1
        
    i = int(input("가위(1), 바위(2), 보(3) 를 입력해주세요  "))
    j = random.randint(1,3)
    
print("게임 종료 (전체 : {}, 이김 : {}, 비김 : {})".format(a, b, c))

가위(1), 바위(2), 보(3) 를 입력해주세요  3
유저 : 보, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 를 입력해주세요  2
유저 : 바위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 를 입력해주세요  3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 를 입력해주세요  4
게임 종료 (전체 : 3, 이김 : 2, 비김 : 0)

# Break
- 루프를 멈춘다.

# Continue
- 뒷 줄을 패스한다.

In [34]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [35]:
for i in range(10):
    if 5 < i <= 8:
        continue
    print(i)

0
1
2
3
4
5
9

In [36]:
# LOOP
while True:
    print("Hello")
    num = input("s 입력시 멈춥니다.")
    if num.lower() == 's':
        break

Hello
s 입력시 멈춥니다.2
Hello
s 입력시 멈춥니다.4
Hello
s 입력시 멈춥니다.6
Hello
s 입력시 멈춥니다.s

#### 연습문제11
(1) while 문과 break 문을 사용하여 사용자가 입력한 숫자만큼 반복하여 ‘hi’ 출력하기

(2) for 문과 continue 문을 사용하여 사용자가 입력한 숫자까지의 짝수를 출력하기

In [40]:
num = int(input("숫자 입력:"))
num2 = 0

while True:
    print("hi")
    num2 += 1
    if num == num2:
        break

숫자 입력:3
hi
hi
hi

In [42]:
a = int(input("숫자 입력:"))

for i in range(a):
    if i % 2 != 0:
        continue
    print(i)

숫자 입력:5
0
2
4

#### 연습문제7
randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고     
가장 큰 수를 구하는 코드를 작성하시오.     

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 76이 나와야 함.

In [72]:
a = []

while len(a) < 100:
    num = random.randint(1, 1001)
    a.append(num)
print(a)


b = a[0]

for i in range(99):
    if b < a[i+1]:
        b = a[i+1]
print(b)

[712, 237, 129, 304, 488, 332, 489, 408, 484, 619, 171, 355, 760, 12, 957, 479, 828, 25, 647, 230, 932, 400, 953, 233, 320, 775, 669, 175, 778, 800, 987, 566, 276, 618, 747, 991, 426, 370, 65, 903, 137, 273, 14, 269, 827, 836, 437, 988, 31, 503, 574, 438, 862, 815, 29, 487, 886, 119, 128, 609, 400, 784, 393, 8, 204, 166, 70, 747, 692, 583, 412, 487, 462, 94, 320, 852, 942, 616, 94, 645, 231, 422, 217, 344, 543, 292, 949, 514, 778, 670, 300, 353, 816, 508, 731, 282, 624, 649, 570, 557]
991

In [74]:
new_list = []
max_num = 0

for i in range(100):
    rand_num = random.randint(1, 1001)
    new_list.append(rand_num)
    
    if max_num < rand_num:
        max_num = rand_num

print(new_list)
print(max_num)

[672, 907, 820, 415, 372, 976, 741, 960, 752, 696, 216, 791, 17, 969, 386, 950, 890, 353, 519, 356, 542, 213, 240, 982, 801, 645, 225, 854, 718, 678, 695, 445, 518, 716, 390, 111, 713, 31, 406, 29, 448, 679, 21, 784, 668, 310, 78, 454, 654, 315, 853, 516, 565, 986, 25, 289, 815, 549, 528, 57, 356, 777, 712, 946, 310, 431, 190, 394, 708, 624, 140, 596, 909, 647, 776, 524, 337, 779, 495, 379, 679, 972, 319, 22, 122, 913, 101, 310, 222, 24, 496, 992, 976, 587, 471, 477, 15, 92, 899, 547]
992

#### 연습문제8
randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고    
리스트의 모든 요소의 합계를 구하는 코드를 작성하시오.    

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 160이 나와야 함.

In [71]:
a = []

while len(a) < 100:
    num = random.randint(1, 1001)
    a.append(num)
print(a)


s = 0

for i in range(99):
    s += a[i]
print(s)

[422, 107, 126, 703, 746, 463, 323, 577, 128, 690, 237, 154, 405, 912, 32, 874, 477, 540, 952, 832, 933, 774, 618, 56, 489, 593, 432, 70, 422, 164, 224, 204, 705, 544, 633, 858, 840, 778, 897, 684, 296, 922, 713, 119, 163, 725, 632, 578, 747, 6, 761, 988, 3, 695, 440, 910, 498, 489, 380, 848, 546, 960, 580, 879, 229, 306, 617, 443, 389, 886, 446, 477, 704, 140, 687, 484, 511, 963, 813, 178, 749, 404, 291, 742, 856, 677, 861, 475, 584, 600, 317, 13, 818, 892, 834, 523, 560, 70, 402, 346]
53437

In [76]:
new_list = []
sum_num = 0

for i in range(100):
    rand_num = random.randint(1, 1001)
    new_list.append(rand_num)
    sum_num += rand_num
    
print(new_list)
print(sum_num)

[616, 397, 66, 1001, 405, 990, 202, 146, 528, 196, 8, 474, 227, 954, 598, 189, 180, 128, 280, 953, 839, 916, 609, 711, 292, 352, 650, 798, 392, 51, 988, 977, 725, 968, 215, 586, 635, 46, 625, 1001, 111, 585, 302, 228, 963, 565, 145, 147, 106, 532, 894, 805, 649, 583, 269, 710, 895, 441, 120, 993, 413, 775, 26, 45, 13, 692, 753, 404, 998, 282, 665, 32, 44, 569, 159, 174, 350, 966, 136, 885, 3, 240, 317, 502, 486, 568, 389, 859, 357, 473, 949, 549, 247, 415, 762, 599, 530, 2, 278, 978]
48841

# 리스트 컴플리헨션 (list comprehension)

In [79]:
list(range(1, 5))

[1, 2, 3, 4]

In [78]:
list(range(10, 50, 10))

[10, 20, 30, 40]

In [80]:
new_list = []

for i in range(1, 5):
    new_list.append(i * 10)

new_list

[10, 20, 30, 40]

In [84]:
new_list = [i*10+7.5 for i in range(1, 5)]
new_list

[17.5, 27.5, 37.5, 47.5]

In [88]:
# 1부터 100까지의 숫자 중에서 3의 배수만 모아서 새로운 리스트를 만드시오.

new_list = [i for i in range(1, 101) if i % 3 == 0]
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [90]:
new_list = [i*j for i in range(1, 11) for j in range(1, 11)]
print(len(new_list))
print(new_list)

100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [91]:
keys = ['city', 'name', 'height']
value = ['Seoul', '김형순', 163]

new_dict = {keys[i] : value[i] for i in range(len(keys))}
new_dict

{'city': 'Seoul', 'name': '김형순', 'height': 163}

# ZIP

In [92]:
for i in range(len(keys)):
    k = keys[i]
    v = value[i]
    print(k, v)

city Seoul
name 김형순
height 163

In [93]:
list(zip(keys, value))

[('city', 'Seoul'), ('name', '김형순'), ('height', 163)]

In [94]:
for k, v in zip(keys, value):
    print(k, v)

city Seoul
name 김형순
height 163

In [95]:
keys = ['city', 'name', 'height']
value = ['Seoul', '김형순', 163]
sample = ['a', 'b', 'c']  

list(zip(keys, value, sample))

[('city', 'Seoul', 'a'), ('name', '김형순', 'b'), ('height', 163, 'c')]

In [96]:
dict(zip(keys, value))

{'city': 'Seoul', 'name': '김형순', 'height': 163}

#### 연습문제9
(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountain”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요   
(리스트 컴프리핸션을 사용해주세요)

(2) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountain”] 리스트의 글자수가 들어가있는 새로운 리스트를 생성하세요    
(리스트 컴프리핸션을 사용해주세요)

In [108]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]

new_list = [i for i in word if len(i) >= 6]
new_list

['school', 'science', 'mountain']

In [109]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]

new_list = [len(i) for i in word]
new_list

[6, 4, 5, 7, 5, 8]

#### 연습문제10
(1) 아래 두 리스트를 각 요소들을 곱해 새로운 리스트 C 를 만드세요     
a = [[10, 20], [30, 40], [50, 60]]    
b = [[2, 3], [4, 5], [6, 7]]       

심화 2X3 리스트 a, b를 사용자로부터 입력받아 두 값을 곱해 새로운 리스트 C 를 만드세요

In [110]:
a = [[10, 20], [30, 40], [50, 60]]    
b = [[2, 3], [4, 5], [6, 7]]   

new_list = [[a[i][j] * b[i][j] for j in range(len(a[i]))] for i in range(len(a))]
new_list

[[20, 60], [120, 200], [300, 420]]

In [114]:
new_list = []

for i in range(len(a)):
    in_list = []
    for j in range(len(a[i])):
        in_list.append(a[i][j] * b[i][j])
    new_list.append(in_list)

new_list

[[20, 60], [120, 200], [300, 420]]

In [115]:
for l1, l2 in zip(a, b):
    print(l1, l2)
    break

[10, 20] [2, 3]

In [118]:
new_list = []

for [a1, a2], [b1, b2] in zip(a, b):
    new_list.append([a1*b1, a2*b2])

new_list

[[20, 60], [120, 200], [300, 420]]

#### 연습문제10
(1) 아래의 학습코드를 가지고 a 리스트가 [[1,2],[3,4],[5,6]] 와 같이 만들어지도록 수정하세요

In [3]:
a = []
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
        a.append(line)
print(a)

[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]

In [17]:
a_list = [1,1,2,2,3,1,1,1]
b_list = []


for i in range(len(a_list)-1):
    s = 1
    if a_list[i] == a_list[i+1]:
        s += 1
    else:
        b_list.append(a_list[i])
        b_list.append(s)
b_list

[1, 1, 2, 1, 3, 1]